<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 border-right ">

                            <div class="card border-white text-center image my-3 ">
                                <ngx-image-zoom [enableScrollZoom]="true" thumbImage={{result.img}} [magnification]="2">
                                </ngx-image-zoom>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="card border-white my-3 ">
                                <div class="card-body ">
                                    <div class="product-name ">
                                        {{result.product_name |uppercase}}
                                    </div>
                                    <div class="product-rate text-warning my-3 ">
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i>
                                        <i class="fa fa-star " aria-hidden="true "></i> | 0 Order
                                    </div>
                                    <div class="product-price my-3 ">
                                        <span> {{result.product_price | currency}}</span> <span class="ml-3 "> 10000</span>
                                    </div>
                                    <div class="product-color my-3 ">
                                        Color
                                        <ul>
                                            <li class="color-red "></li>
                                            <li class="color-black mx-2 "></li>
                                            <li class="color-blue "></li>
                                        </ul>

                                    </div>
                                    <div class="row justify-content-left ">
                                        <div class="col-4 ">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend ">
                                                    <button class="input-group-text " id="basic-addon1" (click)="minus()">-</button>
                                                </div>
                                                <input type="text " class="form-control text-center " value={{this.qty}}>
                                                <div class="input-group-prepend ">
                                                    <button class="input-group-text " id="basic-addon1 " (click)="plus()">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-to-cart ">
                                        <button class="btn btn-warning text-white ">
                                            <i class="fa fa-shopping-bag " aria-hidden="true "></i> Add to cart
                                        </button>
                                        <button class="btn btn-warning text-white mx-2 ">
                                            Order 
                                        </button>
                                    </div>

                                    <div class="mt-3 ">
                                        <i class="fa fa-envelope " aria-hidden="true "></i>
                                        <i class="fa fa-heart mx-4 " aria-hidden="true "></i>
                                        <i class="fa fa-instagram mr-4 " aria-hidden="true "></i>
                                        <i class="fa fa-facebook mr-4 " aria-hidden="true "></i>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="card text-center border-white ">
                                <div class="card-header bg-white border-white ">
                                    <ul class="nav nav-tabs card-header-tabs ">
                                        <li class="nav-item ">
                                            <a class="nav-link active " href="# ">DESCRIPTION</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="# ">REVIEWS</a>
                                        </li>
                                        <li class="nav-item ">
                                            <a class="nav-link " href="# ">TAGS</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body text-left">
                                    {{result.desc}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>