<div class="container mt-3">
    <div class="card-header">
        BEST SELLER
    </div>
    <div class="position-relative">
        <div class="d-flex justify-content-start  mb-5 overflow-auto">
            <div class=" btn-left"><button type="button" class="btn btn-left-click"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></button></div>
            <div class=" btn-right"><button type="button" class="btn btn-right-click"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></button></div>
            <img width="250" height="200" class="img-item ml-0 mr-2" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/79258128_135317527904914_32533518273740800_n.png?_nc_cat=100&_nc_ohc=2HEkR05uRV8AX-Xe6Wu&_nc_ht=scontent.fdad1-1.fna&oh=cbab5b947d041e639a9ba4258b4428bc&oe=5ED429FC"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/p960x960/79674430_136577011112299_8151269052115845120_o.png?_nc_cat=110&_nc_ohc=BhDWQoGHUKIAX8XqPOj&_nc_ht=scontent-hkg3-2.xx&oh=dfe91391fdbd84a7e9da0ca026ca5376&oe=5ED976BF"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/78644011_134295454673788_1718199630950301696_n.png?_nc_cat=100&_nc_ohc=pHe0TxoBdcwAX8LQHLE&_nc_ht=scontent.fdad1-1.fna&oh=96269f5a1e46bd4134d78d58467c8720&oe=5ED9E4D9"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/78297135_133231681446832_1467375482189119488_o.jpg?_nc_cat=109&_nc_ohc=lFDfvOY36cYAX93yVaw&_nc_ht=scontent.fdad2-1.fna&oh=e277364d5742c4d91315afec9587db43&oe=5ECDDD9E"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/p960x960/76759993_126124348824232_6098198801145659392_o.jpg?_nc_cat=100&_nc_ohc=5vAJi-G0UKgAX8Jw_f3&_nc_ht=scontent.fdad1-1.fna&_nc_tp=6&oh=56ffcbac46bcc95f71fd40e11cfe4c8c&oe=5EB8DBF7"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent-hkg3-2.xx.fbcdn.net/v/t1.0-9/p960x960/70548359_126122705491063_8209479014461472768_o.jpg?_nc_cat=110&_nc_ohc=UoLK4qB53FQAX8YcaIY&_nc_ht=scontent-hkg3-2.xx&_nc_tp=6&oh=37621fceb705ac8adf4cdf346a06c77b&oe=5ED0BA2E"
                alt="">
            <img width="250" height="200" class="img-item mr-2" src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/74435908_124311029005564_4861883613064462336_n.png?_nc_cat=104&_nc_ohc=EXjDt19X8sIAX9OMSad&_nc_ht=scontent-hkg3-1.xx&oh=9022b91d2470eb7110fd26af13b776e4&oe=5ED54934"
                alt="">
            <img width="250" height="200" class="img-item" src="https://scontent.fdad1-1.fna.fbcdn.net/v/t1.0-9/69987279_118120672957933_8748552961216479232_n.jpg?_nc_cat=104&_nc_ohc=aaw3hJkIvXcAX8BuQJB&_nc_ht=scontent.fdad1-1.fna&oh=b96d0739c998561067edefb6b34ef4cd&oe=5ECEA0E0"
                alt="">
        </div>
    </div>
</div>
<div class=" container my-5">
    <div class="card-header">
        HOT DEAL
    </div>
    <div class="row ">
        <div class="col-sm-6 ">
            <div class="card border-white">
                <div class="img-hover-zoom">
                    <img src="https://previews.123rf.com/images/executioner4/executioner41704/executioner4170400047/76923781-fashion-summer-web-banner-sale-banner-design-template-with-a-white-t-shirt-vector-illustration-.jpg" class="img-fluid" alt=" ">
                </div>


            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card  border-white">

                <div class="img-hover-zoom">
                    <img src="https://previews.123rf.com/images/mironovkonstantin/mironovkonstantin1811/mironovkonstantin181100133/112329021-sale-hot-sale-sign-eye-head-loud-speaker-t-shirt-etc-sale-banner-sticker-or-web-banner-in-simple-fla.jpg" class="img-fluid" alt=" ">
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container mt-3 ">
    <div class="card-columns ">
        <div class="card carousel slide " id="carouselExampleIndicators6" data-ride="carousel ">
            <div class="card-header ">
                <span> <b>SamSung</b>
                </span>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators6" role="button " data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white" href="#carouselExampleIndicators6" role="button " data-slide="next">
                    <i class="fa fa-chevron-left" aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item " *ngFor="let product of samsung let i=index" [ngClass]="{ 'active' : i==0 } ">
                    <div class="product-image text-center ">
                        <img class="my-3 " [src]=product.img width="250 " height="250 " alt=" ">
                    </div>
                    <div class="card-footer bg-white">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_name}} </a>
                                <br>
                            </div>
                            <div class="product-detail ">
                                <span class="product-price "> {{product.product_price | currency}}</span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card carousel slide " id="carouselExampleIndicators7" data-ride="carousel ">
            <div class="card-header ">
                <span> <b>OPPO</b>
                </span>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators7" role="button " data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators7" role="button " data-slide="next">
                    <i class="fa fa-chevron-left " aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item " *ngFor="let product of oppo let i=index " [ngClass]="{ 'active' : i==0 }">
                    <div class="product-image text-center ">
                        <img class="my-3 " [src]=product.img width="250 " height="250" alt=" ">
                    </div>
                    <div class="card-footer bg-white ">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_price}}</a>
                                <br>
                            </div>
                            <div class="product-detail ">
                                <span class="product-price ">{{product.product_price | currency }}</span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card carousel slide " id="carouselExampleIndicators8" data-ride="carousel ">
            <div class="card-header ">
                <span> <b>IPHONE</b>
                </span>
                <button class="float-right bg-secondary text-white" href="#carouselExampleIndicators8" role="button " data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators8" role="button " data-slide="next">
                    <i class="fa fa-chevron-left " aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item " *ngFor="let product of iphone let i=index" [ngClass]="{ 'active' : i==0 }">
                    <div class="product-image text-center ">
                        <img class="my-3 " [src]=product.img width="250 " height="250" alt=" ">
                    </div>
                    <div class="card-footer bg-white ">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_name}} </a>
                                <br>
                            </div>
                            <div class="product-detail text-center ">
                                <span class="product-price ">{{product.product_price | currency}} </span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>