.product-image {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.product-image img {
    transition: transform .5s ease;
}

.product-image:hover img {
    transform: scale(1.5);
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.col-md-6 {
    border: 1px solid lightgrey;
}

.product-name a {
    text-decoration: none;
    color: rgb(238, 153, 8) !important;
}

.product-name a :hover {
    color: rgb(40, 52, 66) !important
}

.rounded-circle {
    width: 50px;
    background-color: rgb(238, 153, 8);
    color: #ffff;
}

.image {
    object-fit: cover;
    object-position: center;
}

.time_circles {
    text-align: center;
}

.product-price {
    color: rgb(238, 153, 8);
    font-size: 1.4em;
}

.product-name {
    font-size: 1.2em;
}

.btn-left {
    position: absolute;
    margin-top: 4.5rem;
    left: 0;
}

.btn-right {
    position: absolute;
    right: 0;
    margin-top: 4.5rem;
    box-shadow: none;
}

.btn-left-click {
    box-shadow: none;
    background-color: transparent;
    color: #ffff;
}

.btn-right-click {
    color: #ffff;
    box-shadow: none;
    background-color: transparent;
    border: transparent;
}

.btn-left-click:hover {
    background-color: rgb(237, 153, 8);
    color: #ffffff;
}

.btn-right-click:hover {
    background-color: rgb(237, 153, 8);
    color: #ffffff;
}

.btn-banner-left {
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    color: #ffff;
    left: 0;
    z-index: 999;
    margin-top: 50%;
    border-style: none;
    color: black;
    display: none;
}

.btn-banner-right {
    position: absolute;
    box-shadow: none;
    background-color: transparent;
    color: #ffff;
    right: 0;
    z-index: 999;
    margin-top: 50%;
    border-style: none;
    color: black;
    display: none;
}

.position-relative:hover>.btn-banner-right {
    display: block;
}

.position-relative:hover>.btn-banner-left {
    display: block;
}