<div class="container mt-3 carousel slide" id="carouselExampleIndicators5" data-ride="carousel">
    <div class="card-header border">
        <span>HOT DEALS</span>
        <button class="float-right bg-secondary text-white" href="#carouselExampleIndicators5" role="button" data-slide="prev">
            <i class="fa fa-chevron-right " aria-hidden="true "></i>
        </button>
        <button class="float-right bg-secondary text-white" href="#carouselExampleIndicators5" role="button" data-slide="next">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
    </div>
    <div class="carousel-inner">
        <div class="card-columns carousel-item active ">
            <div class="card border border-top-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class=" form-inline time_circles ">
                        <div class="form-group mx-5 ">
                            <div class="rounded-circle ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/212212/TimerThumb/xiaomi-redmi-8-64gb-thumb.jpg " width="200 " height="200 " alt=" ">
                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title "></span >Redme</a>
                        <br>
                    </div>
                        <div class="product-detail text-center ">
                            <span class="product-price ">310 $ </span>
                            <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="card border border-top-0 border border-left-0 border border-right-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class="form-inline " style="text-align: center; ">
                        <div class="form-group mx-5 ">
                            <div class=" rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/191276/samsung-galaxy-note-10-silver-400x400.jpg " width="200 " height="200 " alt=" ">

                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title "></span >Note 10 </a>
                        <br>
                    </div>
                    <div class="product-detail text-center ">
                        <span class="product-price ">310 $ </span>
                            <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="card border border-top-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class="form-inline " style="text-align: center; ">
                        <div class="form-group mx-5 ">
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/210655/iphone-11-pro-256gb-black-400x400.jpg " width="200 " height="200 " alt=" ">
                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title text-center "></span>Iphone X</a>
                        <br>
                    </div>
                    <div class="product-detail text-center ">
                        <span class="product-price ">310 $ </span>
                        <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-columns carousel-item">
            <div class="card border border-top-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class=" form-inline time_circles ">
                        <div class="form-group mx-5 ">
                            <div class="rounded-circle ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/212212/TimerThumb/xiaomi-redmi-8-64gb-thumb.jpg " width="200 " height="200 " alt=" ">
                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title "></span >Redme</a>
                        <br>
                    </div>
                        <div class="product-detail text-center ">
                            <span class="product-price ">310 $ </span>
                            <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="card border border-top-0 border border-left-0 border border-right-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class="form-inline " style="text-align: center; ">
                        <div class="form-group mx-5 ">
                            <div class=" rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/191276/samsung-galaxy-note-10-silver-400x400.jpg " width="200 " height="200 " alt=" ">

                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title "></span >Note 10 </a>
                        <br>
                    </div>
                    <div class="product-detail text-center ">
                        <span class="product-price ">310 $ </span>
                            <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="card border border-top-0 image ">
                <div class="card-header text-center bg-white border-bottom-0 ">
                    <div class="form-inline " style="text-align: center; ">
                        <div class="form-group mx-5 ">
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Hour 
                                </span>
                            </div>
                            <div class="rounded-circle text-center mx-3 ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Mins
                                </span>
                            </div>
                            <div class="rounded-circle text-center ">
                                <span class="border border-dark border-top-0 border-right-0 border-left-0 border-bottom ">
                                    1 
                                </span>
                                <br>
                                <span>
                                    Secs 
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="product-image text-center ">
                    <img class="my-5 " src="https://cdn.tgdd.vn/Products/Images/42/210655/iphone-11-pro-256gb-black-400x400.jpg " width="200 " height="200 " alt=" ">
                </div>
                <div class="card-footer bg-white ">
                    <div class="product-name text-center mb-3 ">
                        <a href=" " class="product-name "> <span class="card-title text-center "></span>Iphone X</a>
                        <br>
                    </div>
                    <div class="product-detail text-center ">
                        <span class="product-price ">310 $ </span>
                        <span> 
                            <button class="btn btn-secondary mx-4 ">-29%</button> 
                            <button class="btn btn-warning ">Add to Cart</button>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 ">
    <div class="row ">
        <div class="col-sm-6 ">
            <div class="card ">
                <div class="img-hover-zoom text-center ">
                    <img src="https://cdn.tgdd.vn/Products/Images/42/206176/Feature/samsung-galaxy-note-10-plus-ftspec-tet-1.jpg " class="img-fluid my-5 " alt=" ">
                </div>

                <div class="card-footer bg-white ">
                    <h4><span>Samsung Galaxy Note 10+</span></h4>
                    <span class="text-warning ">
                       <h4>$759.00</h4> 
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card ">

                <div class="img-hover-zoom text-center ">
                    <img src="https://cdn.tgdd.vn/Products/Images/42/209800/Feature/oppo-reno2-f-480x222-9.jpg " class="img-fluid my-5 " alt=" ">
                </div>
                <div class="card-footer bg-white ">
                    <h4><span>OPPO Reno2 F</span></h4>
                    <span class="text-warning ">
                       <h4>$234.00</h4> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="card-columns ">
        <div class="card carousel slide" id="carouselExampleIndicators6" data-ride="carousel">
            <div class="card-header">
                <span> <b>SamSung</b>
                </span>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators6" role="button" data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators6" role="button" data-slide="next">
                    <i class="fa fa-chevron-left " aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let product of samsung let i = index" [ngClass]="{'active' : i == 0}">
                    <div class="product-image text-center">
                        <img class="my-3 " [src]=product.img width="250 " height="250" alt=" ">
                    </div>
                    <div class="card-footer bg-white ">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_name}} </a>
                                <br>
                            </div>
                            <div class="product-detail">
                                <span class="product-price "> {{product.product_price | currency}}</span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card carousel slide" id="carouselExampleIndicators7" data-ride="carousel">
            <div class="card-header">
                <span> <b>OPPO</b>
                </span>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators7" role="button" data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators7" role="button" data-slide="next">
                    <i class="fa fa-chevron-left " aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let product of oppo let i = index" [ngClass]="{'active' : i == 0}">
                    <div class="product-image text-center">
                        <img class="my-3 " [src]=product.img width="250 " height="250" alt=" ">
                    </div>
                    <div class="card-footer bg-white ">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_price}}</a>
                                <br>
                            </div>
                            <div class="product-detail ">
                                <span class="product-price ">{{product.product_price | currency }}</span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card carousel slide" id="carouselExampleIndicators8" data-ride="carousel">
            <div class="card-header">
                <span> <b>IPHONE</b>
                </span>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators8" role="button" data-slide="prev">
                    <i class="fa fa-chevron-right " aria-hidden="true "></i>
                </button>
                <button class="float-right bg-secondary text-white " href="#carouselExampleIndicators8" role="button" data-slide="next">
                    <i class="fa fa-chevron-left " aria-hidden="true "></i>
                </button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let product of iphone let i = index" [ngClass]="{'active' : i == 0}">
                    <div class="product-image text-center">
                        <img class="my-3 " [src]=product.img width="250 " height="250" alt=" ">
                    </div>
                    <div class="card-footer bg-white ">
                        <div class="product-name text-center mb-3 ">
                            <a href=" " class="product-name "> <span class="card-title "></span > {{product.product_name}} </a>
                                <br>
                            </div>
                            <div class="product-detail text-center ">
                                <span class="product-price ">{{product.product_price | currency}} </span>
                                <span> 
                                    <button class="btn btn-secondary mx-4 ">-29%</button> 
                                    <button class="btn btn-warning ">Add to Cart</button>
                                </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>