<div class="container-fluid mt-5 ">
    <div class="row justify-content-center mt-5 footer">
        <div class="col-8 my-3">
            <div class="input-group">
                <span class="text-white mr-3">
                <h4>NEWSLETTER</h4>  
                </span>
                <input type="text" class="form-control" placeholder="Enter your Email..." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-warning text-white" type="button">Subcribe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-secondary py-5 border border-bottom border-top-0">
        <div class="col-md-3  border-right border-white">
            <ul>
                <li> <b>INFORMATION</b> </li>
            </ul>
            <ul>
                <li class="mt-2">About Us</li>
                <li class="mt-2">Customer Service</li>
                <li class="mt-2">Template Settings</li>
                <li class="mt-2">Privacy Policy</li>
                <li class="mt-2">Search Terms</li>
                <li class="mt-2">Advanced Search</li>
            </ul>
        </div>
        <div class="col-md-3 border-right border-white">
            <ul>
                <li> <b>WHY BUY FROM US</b> </li>
            </ul>
            <ul>
                <li class="mt-2">Shipping & Returns</li>
                <li class="mt-2">Secure Shopping</li>
                <li class="mt-2">International Shipping</li>
                <li class="mt-2">Affiliates</li>
                <li class="mt-2">Group Sales</li>
                <li class="mt-2">Orders and Returns</li>
            </ul>
        </div>
        <div class="col-md-3 border-right border-white">
            <ul>
                <li> <b>MY ACCOUNT</b> </li>
            </ul>
            <ul>
                <li class="mt-2">Sign In</li>
                <li class="mt-2">View Cart</li>
                <li class="mt-2">My Wishlist</li>
                <li class="mt-2">My Compare</li>
                <li class="mt-2">Track My Order</li>
                <li class="mt-2">Help</li>
            </ul>
        </div>
        <div class="col-md-3 border-right border-white">
            <ul>
                <li> <b>CONTACT US</b> </li>
            </ul>
            <ul>
                <li class="mt-2"><i class="fa fa-home" aria-hidden="true"></i> Our business address is 1063 Free</li>
                <li class="mt-2"><i class="fa fa-phone-square" aria-hidden="true"></i> + 020.566.8866</li>
                <li class="mt-2"><i class="fa fa-envelope" aria-hidden="true"></i> support@7-Up.com</li>
                <li class="mt-2"><i class="fa fa-facebook" aria-hidden="true"></i> <i class="fa fa-instagram mx-3" aria-hidden="true"></i> <i class="fa fa-google-plus" aria-hidden="true"></i></li>

            </ul>
        </div>
    </div>
    <div class="py-4 row bg-secondary ">
        <div class="col-md-12">
            <ul class="nav justify-content-center">
                <li class="text-center">
                    &nbsp; &copy;2020 Copyright: All rights reserved.
                </li>

            </ul>
            <ul class="nav justify-content-end mt-n4">
                <li>
                    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i> <i class="fa fa-money fa-2x mx-3" aria-hidden="true"></i> <i class="fa fa-paypal fa-2x" aria-hidden="true"> </i>

                </li>

            </ul>

        </div>
    </div>
</div>