<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 my-2">
            <div class="card shipping">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <i class="fa fa-dollar fa-2x"></i>
                        </div>
                        <div class="col-md-9  ml-n3 mt-3">
                            <h6 class="card-title">
                                <span class="card-text">30 DAYS RETURN </span>
                                <span>money back</span>

                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card shipping">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <i class="fa fa-truck fa-2x"></i>
                        </div>
                        <div class="col-md-9  ml-n3 mt-3">
                            <h6 class="card-title">
                                <span class="card-text">FREE SHIPPING
                                     </span>
                                <span>on all orders over $99</span>

                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card shipping">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <i class="fa fa-database fa-2x"></i>
                        </div>
                        <div class="col-md-9  ml-n3 mt-3">
                            <h6 class="card-title">
                                <span class="card-text">LOWEST PRICE
                                     </span>
                                <span>guarantee
                                </span>

                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 my-2">
            <div class="card shipping">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <i class="fa fa-hand-o-right fa-2x"></i>
                        </div>
                        <div class="col-md-9  ml-n3 mt-3">
                            <h6 class="card-title">
                                <span class="card-text">SAFE SHOPPING                                    
                                     </span>
                                <span>gguarantee 100%
                                </span>

                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>