<div class="container-fluid border  border-left-0 border-top-0 border-right-0 ">
    <ul class="nav ">
        <li class="nav-item menu">
            <a class="nav-link active text-white">{{ 'CATEGORY' | translate }}               

                <button class="shadow-none btn text-white ml-5 float-right fa fa-bars" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                </button>
                <div class="collapse " id="collapseExample">
                    <div class="bg-light p-5 position-relative" id="_navigation">
        <ul >          
        <li *ngFor=" let cate of category ">
            <a>
                <span>{{cate?.cate_name}}</span>
            </a>
        </li>
    </ul>
</div>
</div>
</a>

</li>
<li class="nav-item px-2 shadow-none" routerLinkActive="active text-white">
    <a class="nav-link" routerLink="/home">{{ 'Home' | translate }}</a>
</li>
<li class="nav-item px-2 shadow-none" routerLinkActive="active text-white">
    <a class="nav-link" routerLink="/product">{{ 'Product' | translate }}</a>
</li>

<li class="nav-item px-2 shadow-none" routerLinkActive="active text-white">
    <a class="nav-link" routerLink="/contact"> {{ 'Contact' | translate }}</a>
</li>

<li class="nav-item px-2 shadow-none" routerLinkActive="active text-white" *ngIf="checklogin == 0 ">
    <a class="nav-link" routerLink="login"> {{ 'Login' | translate }} </a>
</li>
</ul>
</div>