<div class="container my-5">
    <div class="row my-5">
        <div class="col-md-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122778.27203348759!2d108.34686111488276!3d15.918445837915819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420dd4e1353a7b%3A0xae336435edfcca3!2zVHAuIEjhu5lpIEFuLCBRdeG6o25nIE5hbSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1580007219187!5m2!1svi!2s"
                frameborder="0" style="border:0;" width="100%" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-7 text-center">
            <img src="https://raw.githubusercontent.com/nluit/task10/master/src/assets/bg-login.jpg" class="thumbnail" width="100%" alt="">
        </div>
        <div class="col-md-5">
            <h3 class="text-center"> CONTACT US </h3>
            <form name="form" [formGroup]="form">
                <div class="form-group">
                    <label for=""></label>
                    <div class="input-group mb-3 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-user fa-2x text-secondary" aria-hidden="true"></i> </span>
                        </div>
                        <input type="text" class="shadow-none form-control border border-dark border-left-0 border-top-0 border-right-0" [ngClass]="{'is-invalid':form.get('fullname').invalid  &&  form.get('fullname').touched  }" formControlName="fullname" placeholder="Username">

                    </div>
                </div>

                <div class="form-group">
                    <label for=""></label>
                    <div class="input-group mb-3 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white border border-white" id="basic-addon1"><i class="fa fa-envelope fa-2x text-secondary" aria-hidden="true"></i> </span>
                        </div>
                        <input type="email" class="shadow-none form-control  border border-dark border-left-0 border-top-0 border-right-0" [ngClass]="{'is-invalid':form.get('email').invalid  &&  form.get('email').touched  }" formControlName="email" placeholder="Email">

                    </div>
                </div>
                <div class="form-group">
                    <label for=""></label>
                    <textarea class="form-control" name="" id="" rows="3" formControlName="message"></textarea>
                </div>
                <div class="form-group mt-4">
                    <input type="button" class="btn btn-success form-control" (click)="submit()" [disabled]="!form.valid" value="Send">
                </div>
            </form>
        </div>
    </div>


</div>